<font color="gray">
<P align="right">
<br>
<img src="qualcomm_logo.gif"><br>
<A href="copyright.html">Copyright statement</A></P>
<P align="right">HT11-VT000-1 A<BR>
  Confidential and Proprietary - QUALCOMM Technologies, Inc.<br>
MAY CONTAIN U.S. AND INTERNATIONAL EXPORT CONTROLLED INFORMATION</P>
<P align="right"><br>
</P>
</font>
  </BODY>
  </HTML>

